header {
    .header-title {
        font-weight: lighter;
    }
    .menu .menu-item {
        font-weight: lighter;
    }
}

body {
    font-weight: 300;
    .page {
        .home {
            .home-title {
                font-weight: 300;
            }
        }
        .home[data-home=posts] {
            .summary {
                .single-title {
                    font-weight: lighter;
                }
            }
        }        
    }
    .page.archive {
        .single-title {
            font-weight: lighter;
        }
        .single-subtitle {
            font-weight: lighter;
        }
        .group-title {
            font-weight: lighter;
        }
    }
    .single {
        .single-title {
                font-size: 1.5rem;
                font-weight: lighter; // home page with posts listed
            }   
        // .single-subtitle {
        //     font-size: .9rem;
        //     font-weight: lighter;
        // }      
        .content {
            h2 {
                font-size: 1.25rem;
                font-weight: 200 !important;
            }
            > h2 > .header-mark::before {
                    content: "※";
                }
            h3 {
                font-size: 1.1rem;
                font-weight: bolder !important;
            }
        }
    }
    .toc {
        .toc-title {
            font-size: smaller;
            font-weight: lighter;
        }
        .toc-content {
            font-size: smaller;
            font-weight: lighter;
        }
    }
}

// ========= Global ============== //
$global-background-color: #fdfdfb;
$global-background-color-dark: #1e1e1e;

// Color of the text
$global-font-color: #474747;
$global-font-color-dark: #e3e3e1;

// Color of the secondary text
$global-font-secondary-color: #a5aa97;
$global-font-secondary-color-dark: #a9a9a7;

// Color of the link
$global-link-color: #6b6d64;
$global-link-color-dark: #cacac8;

// Color of the hover link
$global-link-hover-color: #000000;
$global-link-hover-color-dark: #ffffff;

// ========= Global ============== //

// ========= Single ============== //

// Color of the text
$single-font-color: $global-font-color;
$single-font-color-dark: $global-font-color-dark;

// Color of the secondary text
$single-font-secondary-color: $global-font-secondary-color;
$single-font-secondary-color-dark: $global-font-secondary-color-dark;

// Color of the single link
$single-link-color: $global-link-color;
$single-link-color-dark: $global-link-color-dark;

// Color of the hover single link
$single-link-hover-color: $global-link-hover-color;
$single-link-hover-color-dark: $global-link-hover-color-dark;

// ========= Single ============== //

// ========== Code ================ //
// Color of the code
$code-color: #7ca041;
$code-color-dark: #92c342;
// ========== Code ================ //